<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <springProperty name="PHASE" source="spring.profiles.active" defaultValue="release"/>

  <springProfile name="file-logging">
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <prudent>true</prudent>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--        <fileNamePattern>/Users/nhn/workspace/jaeeunyoo/log/blog-%d{yyyy-MM-dd}.log</fileNamePattern>-->
        <fileNamePattern>/home/jaeeunyoo/logs/jaeeunyoo-blog/blog-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>14</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
      </filter>
      <encoder>
        <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
      </encoder>
    </appender>
  </springProfile>

  <logger name="org.springframework.web" level="DEBUG"/>
  <logger name="org.springframework.security" level="DEBUG"/>
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <root level="DEBUG">
    <springProfile name="file-logging">
      <appender-ref ref="dailyRollingFileAppender"/>
    </springProfile>
  </root>
</configuration>